name: stack_trace
# TODO(rnystrom): The version should be 2.0.0-dev, but doing so causes pub get
# to fail since this depends on test, which has a cyclic dependency back onto
# stack_trace. There are no versions of test that support stack_trace 2.0.0
# yet.
version: 1.10.0-dev
# TODO(rnystrom): Remove this line once the above version issue is fixed.
publish_to: none
description: A package for manipulating stack traces and printing them readably.
homepage: https://github.com/dart-lang/stack_trace

environment:
  sdk: '>=2.9.0-1 <3.0.0'

dependencies:
  path: ^1.2.0

dev_dependencies:
  pedantic: ^1.0.0
  test: '>=0.12.17 <2.0.0'

dependency_overrides:
  async:
    git:
      url: git://github.com/dart-lang/async.git
      ref: null_safety
  boolean_selector:
    git:
      url: git://github.com/dart-lang/boolean_selector.git
      ref: null_safety
  charcode:
    git:
      url: git://github.com/dart-lang/charcode.git
      ref: null_safety
  collection:
    git:
      url: git://github.com/dart-lang/collection.git
      ref: null_safety
  matcher:
    git:
      url: git://github.com/dart-lang/matcher.git
      ref: null_safety
  meta:
    git:
      url: git://github.com/dart-lang/sdk.git
      ref: null_safety-pkgs
      path: pkg/meta
  path:
    git:
      url: git://github.com/dart-lang/path.git
      ref: null_safety
  source_span:
    git:
      url: git://github.com/dart-lang/source_span.git
      ref: null_safety
  string_scanner:
    git:
      url: git://github.com/dart-lang/string_scanner.git
      ref: null_safety
  term_glyph:
    git:
      url: git://github.com/dart-lang/term_glyph.git
      ref: null_safety
  test_api:
    git:
      url: git://github.com/dart-lang/test.git
      ref: null_safety
      path: pkgs/test_api
  test_core:
    git:
      url: git://github.com/dart-lang/test.git
      ref: null_safety
      path: pkgs/test_core
  test:
    git:
      url: git://github.com/dart-lang/test.git
      ref: null_safety
      path: pkgs/test
